@model SiparisListingVM


<div class="card shadow">
	<div class="card-header py-3">
		<p class="text-primary m-0 fw-bold">Yeni Sipariş Ekle</p>
	</div>
	<div class="card-body">
		<form asp-action="SiparisEkle" asp-controller="Siparis" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="CreateSiparis.MenuBoyutu">Menu Boyutu:</label>
				<select class="form-control" asp-for="CreateSiparis.MenuBoyutu" asp-items="@Html.GetEnumSelectList<MenuBoyutu>()"></select>
			</div>

			<div class="form-group">
				<label asp-for="CreateSiparis.SiparisAdeti">Sipariş Adeti:</label>
				<input type="number" class="form-control" asp-for="CreateSiparis.SiparisAdeti" />
			</div>
			<div>


				<div class="accordion accordion-flush" id="accordionFlush">
					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingOne">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
								Menüler
							</button>
						</h2>
						<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlush">

							<div class="accordion-body">
								<div class="container">

									@for (int i = 0; i < Model.CreateSiparis.Menuler.Count; i++)
									{

										<div class="row ">
											<input class="form-check-input me-1 col-4" type="checkbox" value="@Model.CreateSiparis.Menuler[i]" name="selectedMenu[@i].Id">
											@Model.CreateSiparis.Menuler[i].MenuAdi
											<input type="number" class="form-control col-4" asp-for="@Model.CreateSiparis.Menuler[i].Adet" />

											<input type="hidden" class="form-control " asp-for="@Model.CreateSiparis.Menuler[i].Id" />
											<input type="hidden" class="form-control " asp-for="@Model.CreateSiparis.Menuler[i].Fiyati" />
											<input type="hidden" class="form-control " asp-for="@Model.CreateSiparis.Menuler[i].MenuAdi" />
										</div>
									}
								</div>
							</div>
						</div>
					</div>


					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingOne">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseOne">
								Ekstra Malzemeler
							</button>
						</h2>
						<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlush">

							<div class="accordion-body">
								<div class="container">
									@for (int i = 0; i < Model.CreateSiparis.EkstraMalzemeler.Count; i++)
									{
										<div class="row ">
											<input class="form-check-input me-1 col-4" type="checkbox" value="@Model.CreateSiparis.EkstraMalzemeler[i]" name="selectedEkmalzeme[@i].Id">
											@Model.CreateSiparis.EkstraMalzemeler[i].Adi

											<input type="number" class="form-control col-4" asp-for="@Model.CreateSiparis.EkstraMalzemeler[i].Adet" />

											<input type="hidden" class="form-control " asp-for="@Model.CreateSiparis.EkstraMalzemeler[i].Id" />
											<input type="hidden" class="form-control " asp-for="@Model.CreateSiparis.EkstraMalzemeler[i].Fiyati" />
											<input type="hidden" class="form-control " asp-for="@Model.CreateSiparis.EkstraMalzemeler[i].Adi" />
										</div>
									}
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<span id="toplamTutar" class="text-end">Toplam Tutar: 0.00</span>
					</div>
				</div>
			</div>
			<button type="submit" class="btn-primary btn-block">Ekle</button>
		</form>
	</div>
	<div class="card-footer">
	</div>
</div>


<script>
	$(document).ready(function () {
		// Her bir checkbox ve number input değiştiğinde toplam tutarı güncelle
		$('input[type="checkbox"], input[type="number"],input[name="CreateSiparis.SiparisAdeti"],select[name="CreateSiparis.MenuBoyutu"]').change(function () {

			updateTotalPrice();
		});

		// Toplam tutarı güncelleyen fonksiyon
		function updateTotalPrice() {
			var totalPrice = 0;

			// Seçili checkbox'ları tarayarak toplam tutarı hesapla
			$('input[type="checkbox"]:checked').each(function () {
				var adetInput = $(this).closest('.row').find('input[type="number"]');
				var adet = parseInt(adetInput.val(), 10) || 0;

				var fiyatInput = $(this).closest('.row').find('input[type="hidden"][name$=".Fiyati"]');
				var fiyat = parseFloat(fiyatInput.val()) || 0;

				totalPrice += adet * fiyat;
			});

			// Sipariş adedini al
			var siparisAdeti = parseInt($('input[name="CreateSiparis.SiparisAdeti"]').val(), 10) || 0;

			// Toplam tutarı sipariş adedine göre düzenle
			totalPrice *= siparisAdeti;

			// Menü boyutunu al
			var menuBoyutu = parseInt($('select[name="CreateSiparis.MenuBoyutu"]').val(), 10) || 0;

			// Menü boyutuna göre düzeltme faktörü uygula
			if (menuBoyutu === 1) {
				totalPrice *= 1; // Menü boyutu küçükse 1 ile çarp
			} else if (menuBoyutu === 2) {
				totalPrice *= 1.15; // Menü boyutu 2 ise 1.15 ile çarp
			} else if (menuBoyutu === 3) {
				totalPrice *= 1.25; // Menü boyutu büyükse 1.25 ile çarp
			}


			// Toplam tutarı ekrana yazdır
			$('#toplamTutar').text('Toplam Tutar: ' + totalPrice.toFixed(2));
		}
	});
</script>

