@model EkstraMalzemeListingVM

@{
	Layout = "_AdminLayout";
}

<div class="container">

	<div class="row align-items-start">
		<div class="col-4">
			@await Component.InvokeAsync("EkstraMalzemeEkle")
		</div>
		<div class="col-8">
			<div class="container-fluid">

				<div class="card shadow">
					<div class="card-header py-3">
						<p class="text-primary m-0 fw-bold">Ekstra Malzeme Listesi</p>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-6 text-nowrap">
								<div class="dataTables_length">
									<label class="form-label">
										Show 
										<select class="d-inline-block form-select form-select-sm" id="pageSizeDropdown" asp-for="@Model.EkstraMalzemeler.PageSize">
											@* onchange="javascript:this.form.submit()" *@
											<option value="5">5</option>
											<option value="10">10</option>
											<option value="15">15</option>
											<option value="20">20</option>
										</select>

									</label>
								</div>
							</div>
							<div class="col-md-6">
								<form asp-action="Index" method="get">
									<div class="text-md-end">
										<label for="searchText" class="form-label">
											<input name="searchText" class="form-control form-control-sm" type="search" placeholder="Search" value="@(String.IsNullOrEmpty(Context.Request.Query["searchText"]) ?String.Empty: Context.Request.Query["searchText"])" />
										</label>
										<button class="btn btn-light" type="submit">Search</button>
									</div>
								</form>
							</div>
						</div>
						<div class="table-responsive table mt-2">
							<table class="table my-0">
								<thead>
									<tr>
										<th>Ekstra Malzeme Adı</th>
										<th class="text-center">Ekstra Malzeme Fiyatı</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									@foreach (var ekstraMalzeme in Model.EkstraMalzemeler)
									{
										<tr>
											<td>@ekstraMalzeme.Adi</td>
											<td class="text-center">@ekstraMalzeme.Fiyati</td>
											<td>@await Component.InvokeAsync("EkstraMalzemeDuzenle",ekstraMalzeme)</td>
											<td><a class="btn btn-danger btn-icon-split" role="button" onclick="confirmDelete('@ekstraMalzeme.Id')"><span class="text-white-50 icon"><i class="fas fa-trash me-2"></i></span><span class="text-white text">Sil</span></a></td>
										</tr>
									}
								</tbody>
								<tfoot>
									<tr>
										<th>Ekstra Malzeme Adı</th>
										<th class="text-center">Ekstra Malzeme Fiyatı</th>
										<th></th>
									</tr>
								</tfoot>
							</table>
						</div>
						<div class="row">
							<div class="col-md-6 align-self-center">
								<p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Sayfa sayısı @(Model.EkstraMalzemeler.PageNumber) / @Model.EkstraMalzemeler.PageCount of @Model.EkstraMalzemeler.TotalItemCount malzeme</p>
							</div>
							<div class="col-md-6">
								<nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
									<ul class="pagination">
										<li class="page-item @(Model.EkstraMalzemeler.HasPreviousPage ? "" : "disabled")">
											<a class="page-link" aria-label="Previous" href="@(Model.EkstraMalzemeler.HasPreviousPage ? Url.Action("Index", new { page = Model.EkstraMalzemeler.PageNumber - 1 , pageSize=Model.EkstraMalzemeler.PageSize, searchText=Context.Request.Query["searchText"] }) : "#")">
												<span aria-hidden="true">«</span>
											</a>
										</li>
										@for (int i = 1; i <= Model.EkstraMalzemeler.PageCount; i++)
										{
											<li class="page-item @(i == Model.EkstraMalzemeler.PageNumber ? "active" : "")">
												<a class="page-link" href="@Url.Action("Index", new { page = i, pageSize=Model.EkstraMalzemeler.PageSize,searchText=Context.Request.Query["searchText"] })">@i</a>
											</li>
										}
										<li class="page-item @(Model.EkstraMalzemeler.HasNextPage ? "" : "disabled")">
											<a class="page-link" aria-label="Next" href="@(Model.EkstraMalzemeler.HasNextPage ? Url.Action("Index", new { page = Model.EkstraMalzemeler.PageNumber + 1, pageSize=Model.EkstraMalzemeler.PageSize,searchText=Context.Request.Query["searchText"] }) : "#")">
												<span aria-hidden="true">»</span>
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	var dropdown = document.getElementById("pageSizeDropdown");

	dropdown.addEventListener("change", function () {
		var selectedPageSize = this.value;
		var searchText = '@Context.Request.Query["searchText"]';

		if (searchText) {
			var url = "/EkstraMalzeme/Index?pageSize=" + selectedPageSize + "&searchText=" + searchText;
		} else {
			var url = "/EkstraMalzeme/Index?pageSize=" + selectedPageSize;
		}

		window.location.href = url;
	});

	function confirmDelete(id) {
		if (confirm("Silmek istediğinize emin misiniz?")) {
			window.location.href = "/EkstraMalzeme/EkstraMalzemeSil/?id=" + id;
		} else {

		}
	}
</script>